:root{
    --primary-Bg: whitesmoke;
    --secondary-Bg: white;
    --font-color: black;
    --font-hover: wheat;
    --border-color: black;
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);;
    --box-shadow-hover: 4px 4px 10px rgba(0, 0, 0, 0.5);
    --text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    --text-shadow-hover: 3px 3px 8px rgba(0, 0, 0, 0.7);
    --hover-Bg: black;
    --header-Bg: rgb(184, 182, 182);
    --section-Bg: rgba(255, 255, 255, 0.3);
    /* color-scheme: light dark; */
}

[data-theme="dark"]{
    --primary-Bg: rgba(0, 0, 0, 0.842);
    --secondary-Bg: black;
    --font-color: white;
    --font-hover: black;
    --hover-Bg: white;
    --border-color: white;
    --box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    --box-shadow-hover: 4px 4px 10px rgba(255, 255, 255, 0.5);
    --text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    --text-shadow-hover: 3px 3px 8px rgba(255, 255, 255, 0.7);
    --header-Bg: rgb(56, 56, 56);
    --section-Bg: rgba(0, 0, 0, 0.3);
}

html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-Bg);
    min-width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: -10;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Preloader */

.loader_sec{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: animate 1s infinite steps(12);
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}
.loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}
@keyframes animate {
    100% {transform: rotate(1turn)}
}

.waves {
    position:absolute;
    width: 100%;
    height:50vh;
    bottom: 0;
    margin-bottom:-7px;
    z-index: -5;
}
  
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}
  
  /* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

header{
    display: none;
}

nav{
    height: 100%;
    min-width: 10%;
    width: 10%;
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

nav span{
    display: none;
}

nav ul{
    height: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    transform: rotate(-90deg);
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav ul li.line{
    height: 2px;
    width: 100px;
    background-color: var(--font-color);
}

nav ul li.line:first-child{
    margin-bottom: 2rem;
}

nav ul li.line:last-child{
    margin-top: 2.5rem;
}

nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: var(--font-color);
    font-weight: 700;
    text-shadow: var(--text-shadow);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover, .active{
    text-shadow: var(--text-shadow-hover);
}

/* SECTION STYLE */

section{
    width: 35%;
    height: 80%;
    flex: 1 0 35%;
    margin: auto 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px
}

section h1{
    width: 100%;
    font-size: 2.5rem;
    line-height: 64px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--font-color);
    display: inline;
}

section h1 strong, section h1 span{
    display: block;
}

section p{
    font-size: 1.1rem;
    line-height: 26px;
    text-transform: capitalize;
    color: var(--font-color);
}

.btn{
    padding: 20px;
    align-self: flex-start;
    background-color: var(--secondary-Bg);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease, background-color 0.7s ease; 
}

.btn a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 900;
    text-transform: capitalize;
    line-height: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition:  color 0.3s ease;
}

.btn:hover {
    background-color: var(--hover-Bg);
    box-shadow: var(--box-shadow-hover);
}

.btn:hover a{
    color: var(--font-hover);
}


/* ARTICLE STYLE */

article.about_article{
    width: 40%;
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5%;
}

article.about_article .imgDiv{
    padding: 5px;
    height: 300px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: .3s ease;
}

article.about_article .imgDiv:hover{
    border-color: #ced6fb;
}

article.about_article .imgDiv img{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

article.about_article .quote{
    width: 100%;
    height: 30%;
    text-align: center;
}

article.about_article .quote h1{
    display: inline;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    color: var(--font-color);
    text-align: center;
}

#cursor {
    color: var(--font-color);
    font-size: 2rem;
    display: inline;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



/* PROJECT STYLES */

.project_article{
    height: 60%;
    width: 35%;
    margin: auto;
    position: relative;
    background-color: var(--section-Bg);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .4s ease;
}
.slider{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slide{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: .7s ease;
}

.slider .slide img{
    width: 100%;
    height: 60%;
    display: block;
    border-radius: 10px;
}

.project_article .project_details{
    width: 100%;
    height: 35%;
    margin-top: 20px;
    color: var(--font-color);
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.project_article .project_details .project_title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 10px;
}

.project_article .project_details .project_desc{
    width: 100%;
    font-size: .85rem;
    letter-spacing: 2px;
}

.project_article .project_details .project_tools{
    width: 100%;
    font-size: .6rem;
    font-weight: 600;
}

.project_article .project_details .project_viewDiv{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: flex-start;
}

.project_article .project_details a{
    width: 30%;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--font-color);
    transition: .4s ease;
}

.project_article .project_details a:hover{
    letter-spacing: 2px;
} 

.project_article .navigation{
    position: absolute;
    bottom: -60px;
    padding: 5px;
    transform: translate(-50%);
    left: 50%;
    width: 150px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_article .navigation a{
    width: 20px;
    height: 20px;
    text-decoration: none;
    background-color: #999999;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: .689;
    font-size: .7rem;
    transition: .4s ease;
}

.project_article .navigation a:hover, .project_article .navigation a.activePig{
    transform: scale(1.3);
    opacity: 1;
}



/* SKILLS STYLES */

.skills_article{
    width: 40%;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-color: transparent transparent; /* Firefox */
}



.skills_article .icon_div{
    width: 45%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary-Bg);
    box-shadow: var(--box-shadow);
    /* transform: scale(1.2); */
    transition: .4s ease;
}

.skills_article .icon_div h1{
    color: var(--font-color);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.skills_article .icon_div i{
    font-size: 1.2rem;
    color: var(--font-color);
}

.skills_article .icon_div:hover{
    transform: scale(1.1);
}



/* CONTACT STYLES */

form{
    position: relative;
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form input{
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    height: 70px;
    border: 3px solid var(--border-color);
    background-color: transparent;
    color: var(--font-color);
}

form input[name="to_name"]{
    text-transform: capitalize;
}

form textarea{
    font-size: 1rem;
    padding: 10px 15px;
    outline: none;
    border: 3px solid var(--border-color);
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
    /* text-indent: 50px; */
    background-color: transparent;
    font-family: inherit;
    color: var(--font-color);
}

form .status{
    width: 80%;
    background-color: var(--font-color);
    position: absolute;
    top: 50px;
    left: 50%;
    box-shadow: var(--box-shadow-hover);
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 10px;
    /* color: red; */
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-style: italic;
    transition: opacity .5s ease;
    display: none;
}

form button.btn{
    width: 100%;
    margin: 0;
    border-radius: unset;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--font-color);
    font-weight: 900;
    line-height: 20px;
    font-size: 1rem;
    transition:  color 0.3s ease, box-shadow 0.3s ease, background-color 0.7s ease;
}

form .btn:hover{
    color: var(--font-hover);
}


/* FOOTER STYLE */

footer{
    width: 10%;
    height: 100%;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

div.mode_change, footer div.share, footer div.socials div{
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--secondary-Bg);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.socials div a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div i{
    font-size: 1.2rem;
    cursor: pointer;
    text-shadow: unset;
    color: var(--font-color);
}

footer div.mode_change:hover, footer div.share:hover, footer div.socials div:hover{
    box-shadow: var(--box-shadow-hover);
}

footer div.socials{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 10px;
    bottom: 150px;
    right: -500px;
    transition: .4s ease;
}

footer div.socials.show{
    right: 0;
    display: flex;
}

footer .copyRight{
    display: none;
}

/* styling for mobile view*/

@media (max-width: 768px) {
    html{
        font-size: 12px;
    }
    body{
        overflow: unset;
        height: auto;
        flex-direction: column;
    }
    header{
        display: flex;
        height: 10vh;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        background-color: var(--header-Bg);
        margin-bottom: 5vh;
        color: var(--font-color);
        overflow: hidden;
    }

    header .logo{
        height: 100%;
        /* max-width: 50%; */
        width: 50%;
        padding: 5px 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .logo img{
        /* height: 100%; */
        width: 100%;
        display: block;
        object-fit: fill;
    }
    header span{
        padding: 2px;
        font-size: 2rem;
    }
    nav{
        position: fixed;
        height: 100vh;
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        background-color: var(--header-Bg);
        right: -500px;
        bottom: 0;
        top: 0;
        z-index: 9;
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        transition: .4s ease;
    }
    .show_nav{
        right: -30px;
        display: flex;
    }
    nav span{
        display: flex;
        width: 100%;
        height: 10%;
        color: var(--font-color);
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    nav ul{
        margin: unset;
        height: 50%;
        justify-content: space-between;
    }
    nav ul li{
        transform: rotate(0deg);
    }
    nav ul li.line{
        display: none;
    }
    section{
        width: 80%;
        height: auto;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    section h1{
        margin-bottom: 20px;
    }
    section p{
        line-height: 1.5;
        height: 60%;
        margin: 0;
    }
    .waves {
        display: none;
    }
    article.about_article{
        height: 50vh;
        width: 80%;
        margin: 30px 0;
    }
    article.about_article .quote{
        margin-top: 20px;
    }
    .project_article{
        width: 80%;
        height: 60vh;
        margin: 40px auto;
    }
    .slide{
        padding: 10px;
    }
    .slider .slide img{
        height: 50%;
    }
    .project_article .project_details{
        height: 40%;
        margin-top: 15px;
    }
    .skills_article{
        width: 80%;
        height: 55vh;
        margin: 0 auto;
        overflow: hidden;
    }
    .skills_article .icon_div{
        width: 43%;
        gap: 10px;
        margin-bottom: 20px;
        transform: unset;
    }
    footer{
        position: unset;
        width: 100%;
        height: 15vh;
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }
    div.mode_change, footer div.share, footer div.socials div{
        height: 35px;
        width: 35px;
    }
    footer div.mode_change{
        position: fixed;
        top: 80%;
        right: 70px;
        z-index: 10;
        display: none;
    }
    footer div.mode_change.show_mode{
        display: flex;
    }
    footer div.share{
        display: none;
    }
    footer div.socials{
        position: unset;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    footer .copyRight{
        display: block;
        width: 100%;
        height: 6vh;
        margin-top: 20px;
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid gray;
        color: var(--font-color);
    }
    form{
        width: 80%;
        height: auto;
        margin: auto;
    }
    form .status{
        width: 60%;
        top: 100px;
    }
}


@media (max-width: 500px) {
    html{
        font-size: 10px;
    }
    header{
        padding: 0 20px;
    }
    header .logo{
        width: 60%;
    }
    nav{
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }
    section, article.about_article, .project_article/*, .skills_article, form */ {
        width: 90%;
    }
    article.about_article .imgDiv{
        height: 200px;
        width: 200px;
    }
}